<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Numeros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Adivina el número</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="fixed">Numero:</ion-label>
    <!-- keyup.enter es para poder insertar nombre con la tecla enter -->
    <ion-input (keyup.enter)="addNumero(number)" placeholder="Introduce el numero" [(ngModel)]="number" required></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="addNumero(number)">Añadir</ion-button>

</ion-content>
